<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneSignalNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Sip Of Positivitea.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC165BC81EAD6A2D00A229A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC165BDE1EAD6A2E00A229A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC165BE91EAD6A2E00A229A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC32403A1F19D81E00EA3EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC32404A1F19D84500EA3EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3240591F19D89000EA3EEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
